@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

h4{
    font-weight: bold;
    font-size: 30px;
}

/* Hero Banner */

.wrapper{
    width: 960px;
    min-height: 474px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -237px -480px;
}

.hero-banner{
    background-color:  #007FFF;
    min-height: 474px;
    height: 100vh;
    padding: 50 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}

.hero-banner h1{
    color: white;
    margin: 14px 0 20px;
}

.hero-banner h3{
    color: white;
    margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a{
    color: white;
    margin: 0;
}

.character1{
    background: url(img/circle-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 363px;
    height: 344px;
    position: absolute; top: 10%; right: 10%;
    rotate: 15deg;
}

.character2{
    background: url(img/triangle-yellow.png) no-repeat 0 0;
    background-size: 100%;
    width: 308px;
    height: 371px;
    position: absolute; top: 213px; right: 277px;
}

.character3{
    background: url(img/triangle-pink.png) no-repeat 0 0;
    background-size: 100%;
    width: 297px;
    height: 286px;
    position: absolute; bottom: 74px; right: 109px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a.cta:active,
button.cta:active{
    opacity: .7;
}

a.cta.alt,
button.cta-alt{
    color: #111111;
    background: #FFD400;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
    border: none;
}

/* Nav Bar */

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .logo{
    display: block;
    width: 300px;
    height: 40px;
    position: absolute; top: 50%; left: 30px;
    margin-top: -20px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    padding: 0;
    margin: 0 20px 0 0;
    display: block;
    float: right;
    font-weight: bold;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 15px;
}

.more-info{
    text-align: center;
    z-index: 0;
}

.more-info .wrapper{
    margin: 0px -480px;
}

.more-info h2{
    line-height: 68px;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-weight: bold;
    font-size: 30px;
    margin: 23px auto 44px;
}

.highlight{
    font-weight: 800;
    background-color: #FFADF9;
    color: #FF3300;
    padding: 5px;
    display: inline;
    line-height: 50px;
}

.more-info h2.cta{
    margin: 44px 0 60px;
}

.sep{
    width: 470px;
    height: 10px;
    margin: 0 auto 70px;
    background: black;
}

.nb-list{
    width: 470px;
    height: 644px;
    background-color: #EDEDED;
    padding: 0;
    box-sizing: border-box;
    float: left;
    margin-right: 30px;
    margin-top: 0;
    position: relative;
}

.nb-list li{
    width: 430px;
    height: 70px;
    margin: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    display: block;
    box-sizing: border-box;
    padding: 6px 20px;
}

.nb-list li.blue{background-color: #007FFF;}
.nb-list li.gray{background-color: rgba(0, 0, 0, .1);}
.nb-list li.red{background-color: #FF3300;}
.nb-list li.pink{background-color: #FFADF9;}
.nb-list li.salmon{background-color: #FA8072;}
.nb-list li.yellow{
    background-color: #FFD400;
    color: black;
}

.nb-list li.dragging{
    position: absolute;
    top: 60px;
    left: 61px;
    rotate: 6deg;
    box-shadow: 0 2px 14px rgba(0, 0, 0, .3);
}

.nb-list li.dragging:after{
    content: '';
    display: block;
    position: absolute;
    width: 54px;
    height: 60px;    
    background: url(img/hand.png) no-repeat 0 0;
    background-size: 100%;
    bottom: -30px;
    left: 60%;
}

}
.wrapper2{
    margin: 0 auto;
    width: 960px;
}


.story h3{
    color: black;
    font-weight: 800;
    font-size: 40px;
}

.gang-img{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    margin: 84px auto 45px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, .4);
}

footer a{
    color: rgba(0, 0, 0, .4);
}

.popup{ 
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.popup.show{
    display: block;
}

.popup .blanket{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup .content{
    box-sizing: border-box;
    padding: 30px 40px;
    width: 960px;
    height: 515px;
    background-color: white;
    text-align: center;
    position: absolute;
    margin-left: -480px;
    margin-top: -265px;
    left: 50%;
    top: 50%;
}

.popup .content h2{
    margin: 0;
}

.popup .close{
    width: 80px;
    height: 80px;
    background: #ff3300 url(img/close.png) no-repeat center;
    background-size: 85%;
    border-radius: 50%;
    border: none;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

.popup .row{

}

.popup .row:after{
    content: '';
    display: table;
    clear: both;
}

.popup .item{
    float: left;
    width: 415px;
    margin-left: 40px;
    text-align: left;
    padding-top: 20px;
}

.popup .item:first-child{
    margin-left: 0;
}

.popup .item label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.popup .item input[type="text"]{
    display: block;
    width: 395px;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 15px 20px;
    border: 4px solid #111111;
}

.popup button.cta{
    margin-top: 40px;
    width: 230px;
}



/*  

   <div class="popup">
        <div class="blanket"></div>
        <div class="content">
            <h2>Fill In Your Details</h2>
            <button class="close"></button>
            <form action="">
                <div class="item">
                    <label>Your First Name</label>
                    <input type placeholder="Awesomeface" value="Shirley">
                </div>
                <div class="item">
                    <label>Your Last Name</label>
                    <input type placeholder="Circleface">
                </div>
                <div class="item">
                    <label>Your Favourite Color</label>
                    <input type placeholder="Pink">
                </div>
                <div class="item">
                    <label>Your Favourite Food</label>
                    <input type placeholder="Apple Pie">
                </div>
                <button class="cta">I Want In!</button>
            </form>
        </div>
    </div>
 */